.backGround {
  background: url(library.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  color: white;
  height: 807px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
