.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343d56;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button a {
  text-decoration: none;
}

.sidenav button {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  font-family: cursive;
  font-weight: bold;
  color: #343d56;
  border-radius: 10px;
  background-color: #fefae0;
  width: 130px;
  display: flex;
  justify-content: center;
  margin: 16px;
}

.sidenav button:hover {
  color: #343d56;
  background-color: #82a195;
}

.sidenav button:focus {
  color: #f1f1f1;
  background-color: #82a195;
}

@media screen and (max-width: 600px) {
  .sidenav {
    height: 200px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #343d56;
    // overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: center;

  }
}

@media screen and (max-width: 400px) {
  .project-title {
    font-size: 25px;
  }

  .sidenav button {
    padding: 8px;
    font-size: 12px;
    width: 75px;
  }
  
  .sidenav {
    height: 75px;
  }


}